/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
  
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  headerText {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 25px; 
    padding: 2.5%;
  }

  headerPageTabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 0 5% 0
  }

  header{
      background-color: #1c1c1c;
      justify-content: center;
      color: white;
  }

  bodyHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    font-size: 30px;
    padding: 50px 15% 40px 15%;
  }

  .redPhoto{
    width: 100%;
    height: 600px;
    object-fit: cover;
    padding: 0 0 35px 0;
  }

  .onSetPhoto{
    width: auto;
    height: 600px;  
     
    padding: 0 0 0 5%;
  }

  bottomPage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    color: white;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-text: center;
    padding: 5%;
    color: white
  }

  .button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 100%;
  padding: 20px 0 20px 0;
}

/*Obtained from: https://stackoverflow.com/questions/45037844/arrange-2-items-per-row-using-flexbox */
.container > div {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.htmlImage{
  align-items: center;
  justify-content: space-between;
  
}

.htmlTitles{
  padding: 0px 0 10px 0;
}

.colorPaletteImage{
  align-items: center;
  width: 100%;
  height: 200px;
}

/* Obtained from: https://blog.hubspot.com/website/remove-underline-from-links-css */
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

